
<nav class="">
{{>nav}}
</nav>

<header>
    <div class="main-header animate__animated animate__backInLeft container-fluid"> 
      
           
            <p class=" main_title ">No dejes para mañana lo que puedas comer hoy, <br> sacia tu hambre de inmediato. 
           <br> <button class="btn btn-success botn " style=" margin-left: 20px; "  type="submit">Registrarse</button>
           <button class="btn btn-success botn " style=" margin-left: 20px; "  type="submit">Ordenar</button></p>
             

        
    </div>
</header>


<section>
    <article >
    <div class="sec1 grid-texto opacidad"> 
     {{>grids}}
     </div>
    </article>
    
    <article >
       <div class="sec2" > 
     {{>video}}
     </div>
   
    </article>
   
 </section>





<footer>    
   
   
</footer>
