

    <nav class=" nav navbar navbar-expand-sm navbar-dark bg-primary animate__animated animate__backInDown container-fluid">
        <a class="navbar-brand" style="margin-left:50px; padding-right 60px; display: inline-flex;" href="#" ><h1 class="my-lg-0 " width="20" style="color: whitesmoke;">Juicy Food</h1><i class="fa fa-hamburger fa-2x"></i></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-3 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li>
            </ul>
            
         

         
                <form class="form-inline my-2 my-lg-0 col-md-0" width="50%">
                    <div class="row d-inline">
                        <div class="d-inline inputbox" width="400px"></div>
                             <input class="form-control mr-sm-2 " style="" type="text" placeholder="Search" >
                        </div>
                        <div class="d-inline col-xs-3 ">
                             <button class="btn btn-primary btn-outline-success my-2 my-sm-0 border-boton" style=" margin-left: 20px; "  type="submit">Buscar</button>
                        </div>
             
                     </div>
                </form> 
         
        </div>
    </nav>
