<div class="container-fluid video-grids" style="margin: 0; padding:0%" >
<video  type='video/mp4; codecs="avc1,mp4a"' loop autoplay preload muted class="video" >
  <source src="video/video-food.mp4">
    </video>
 <div class="container video-grids" style="margin-top:30px; padding:0px;">
  <div class="row" style="padding: 0px; margin:0px;">
    <div class="col"><img src="img/chaulafan.jpg"  style="margin-bottom: 60px;"><h3 class="video-title">Comida China</h3></div>
    <div class="col"><img src="img/cecina.jpg"  style="margin-bottom: 60px;"><h3 class="video-title"><br> Cecina</h3></div>
    <div class="col"><img src="img/ceviche.jpg"  style="margin-bottom: 60px;"><h3 class="video-title"><br> Ceviche</h3></div>
    
    <div class="w-100"></div>
    <div class="col"><img src="img/fritada.jpg" style="margin-bottom: 70px; margin-top:14px;"><h3 class="video-title"><br> Fritada</h3></div>
    <div class="col"><img src="img/humas.jpg" style="margin-bottom: 70px; margin-top:14px;"><h3 class="video-title">Humas, Tamales</h3></div>
    <div class="col"><img src="img/pizza.jpg" style="margin-bottom: 70px; margin-top:14px;"><h3 class="video-title"><br> &nbsp; &nbsp; &nbsp;   Pizza</h3></div>
  </div>


</div>

</div>







