<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juicy Store</title>
    {{!--Bootswatcth CDN--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Cantora+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Rubik:wght@500&display=swap"
        rel="stylesheet">
    <!-- p5 -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js" crossorigin="anonymous"></script> -->
    
   <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@code-dot-org/p5.play@1.1.9-cdo/lib/p5.play.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.js" crossorigin="anonymous"></script>
    <script src="/p5.play.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>

    <!--fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Balsamiq+Sans:wght@700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/54d1d32211.js" crossorigin="anonymous"></script>

    <!--CSS -->
    <link rel="stylesheet" href="/index.css" type="text/css">
</head>

<body>
    {{{body}}}
</body>

</html>